@(families: List[Family])

@import helper._


@main("VaccineKeeper") {
    
	<h1>VaccineKeeper</h1>
	<h2>Immunizing America since 2012</h2>
	<a href="@routes.Vaccines.genericSchedule">@routes.Vaccines.genericSchedule</a>
	<h2>Users</h2>
	<ul>
		@for(family <- families){
			<li>
				<h3>@family.user.userNameEmail, @family.user._id</h3>
				<ul>
					@for(child <- family.children){
						<li><a href="@routes.Children.getChild(child._id)">@child.firstName</a></li>
					}
				</ul>
			</li>
		}
	</ul>
}